In [27]:
#How to Load .xlsx , .csv, .txt and .las files in Python

In [28]:
pip install lasio

Requirement already satisfied: lasio in c:\users\marce\anaconda3\lib\site-packages (0.29)
Requirement already satisfied: numpy in c:\users\marce\anaconda3\lib\site-packages (from lasio) (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import lasio

In [30]:
#Load a .xlxs file:
XLXS_File = pd.read_excel(r'C:\Users\marce\MFC\Jupyter\G\Input\example.xlsx')
print(XLXS_File.head())
print(XLXS_File.tail())
print('\n', '* Columns in the excel tab called "example"')
print('\n', XLXS_File.columns)
print('\n', '* Number of Rows, Number of Columns')
print('\n', XLXS_File.shape, '\n')
XLXS_File.info()

       MD     TVD Incl Azim    GR    RES
0       m       m  deg  deg  gAPI  ohm.m
1       0       0    0    0     0      0
2  0.1524  0.1524    0    0     0      0
3  0.3048  0.3048    0    0     0      0
4  0.4572  0.4572    0    0     0      0
            MD         TVD       Incl        Azim        GR       RES
7291  1110.996  992.708339  31.379999  350.850872  54.50663  10.42315
7292  1111.148  992.838464  31.379999  350.850872  54.50663  10.30035
7293  1111.301  992.968566  31.379999  350.850872  54.50663  10.24262
7294  1111.453   993.09869  31.379999  350.850872  54.50663  10.24392
7295  1111.606  993.228814  31.379999  350.850873  54.50663  10.23952

 * Columns in the excel tab called "example"

 Index(['MD', 'TVD', 'Incl', 'Azim', 'GR', 'RES'], dtype='object')

 * Number of Rows, Number of Columns

 (7296, 6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7296 entries, 0 to 7295
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MD      7296 non-null   object
 1   TVD     7296 non-null   object
 2   Incl    7296 non-null   object
 3   Azim    7296 non-null   object
 4   GR      7296 non-null   object
 5   RES     7296 non-null   object
dtypes: object(6)
memory usage: 342.1+ KB

In [31]:
#Load a .csv file:
CSV_File = pd.read_csv(r'C:\Users\marce\MFC\Jupyter\G\Input\example.csv')
print(CSV_File.head())
print(CSV_File.tail())
print('\n', '* Columns in the csv tab called "example"')
print('\n', CSV_File.columns)
print('\n', '* Number of Rows, Number of Columns')
print('\n', CSV_File.shape, '\n')
CSV_File.info()

       MD     TVD Incl Azim    GR    RES
0       m       m  deg  deg  gAPI  ohm.m
1       0       0    0    0     0      0
2  0.1524  0.1524    0    0     0      0
3  0.3048  0.3048    0    0     0      0
4  0.4572  0.4572    0    0     0      0
            MD          TVD       Incl         Azim        GR       RES
7291  1110.996  992.7083393  31.379999  350.8508719  54.50663  10.42315
7292  1111.148  992.8384636  31.379999   350.850872  54.50663  10.30035
7293  1111.301  992.9685657  31.379999  350.8508722  54.50663  10.24262
7294  1111.453  993.0986895  31.379999  350.8508723  54.50663  10.24392
7295  1111.606  993.2288139  31.379999  350.8508727  54.50663  10.23952

 * Columns in the csv tab called "example"

 Index(['MD', 'TVD', 'Incl', 'Azim', 'GR', 'RES'], dtype='object')

 * Number of Rows, Number of Columns

 (7296, 6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7296 entries, 0 to 7295
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MD      7296 non-null   object
 1   TVD     7296 non-null   object
 2   Incl    7296 non-null   object
 3   Azim    7296 non-null   object
 4   GR      7296 non-null   object
 5   RES     7296 non-null   object
dtypes: object(6)
memory usage: 342.1+ KB

In [32]:
#Load a .txt file:
TXT_File = pd.read_csv(r'C:\Users\marce\MFC\Jupyter\G\Input\example.txt', sep="\t")
print(TXT_File.head())
print(TXT_File.tail())
print('\n', '* Columns in the txt file "example"')
print('\n', TXT_File.columns)
print('\n', '* Number of Rows, Number of Columns')
print('\n', TXT_File.shape, '\n')
TXT_File.info()

       MD     TVD Incl Azim    GR    RES
0       m       m  deg  deg  gAPI  ohm.m
1  0.0000  0.0000    0    0     0      0
2  0.1524  0.1524    0    0     0      0
3  0.3048  0.3048    0    0     0      0
4  0.4572  0.4572    0    0     0      0
            MD          TVD       Incl         Azim        GR       RES
7291  1110.996  992.7083393  31.379999  350.8508719  54.50663  10.42315
7292  1111.148  992.8384636  31.379999   350.850872  54.50663  10.30035
7293  1111.301  992.9685657  31.379999  350.8508722  54.50663  10.24262
7294  1111.453  993.0986895  31.379999  350.8508723  54.50663  10.24392
7295  1111.606  993.2288139  31.379999  350.8508727  54.50663  10.23952

 * Columns in the txt file "example"

 Index(['MD', 'TVD', 'Incl', 'Azim', 'GR', 'RES'], dtype='object')

 * Number of Rows, Number of Columns

 (7296, 6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7296 entries, 0 to 7295
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MD      7296 non-null   object
 1   TVD     7296 non-null   object
 2   Incl    7296 non-null   object
 3   Azim    7296 non-null   object
 4   GR      7296 non-null   object
 5   RES     7296 non-null   object
dtypes: object(6)
memory usage: 342.1+ KB

In [40]:
#Load a .las file:
LAS_File = lasio.read(r'C:\\Users\marce\MFC\Jupyter\G\Input\example.las')

In [34]:
#Information is in the Header of the .las file:
for item in LAS_File.well:
    print(f"{item.descr} ({item.mnemonic}): {item.value}")

START DEPTH (STRT): 0.0
STOP DEPTH (STOP): 1111.606
STEP (STEP): 0.1524
NULL VALUE (NULL): -999.25
COMPANY (COMP):
WELL (WELL):
FIELD (FLD):
LOCATION (LOC): UNKNOWN
COUNTY (CNTY):
STATE (STAT):
COUNTRY (CTRY):
SERVICE COMPANY (SRVC): UNKNOWN
LOG DATE (DATE): UNKNOWN
UNIQUE WELL ID (UWI):
SURFACE X (XCOORD):
SURFACE Y (YCOORD):
LATITUDE (LAT):
LONGITUDE (LON):
SURFACE ELEV (ELEV): 10.0
ELEV TYPE (ELEV_TYPE): KB

In [35]:
#Curves the .las file:
for curve in LAS_File.curves:
    print(curve.mnemonic)

MD
TVD
INCL
AZIM
GR
RES

In [51]:
#Curves, Units and Description in the .las file:
for count, curve in enumerate(LAS_File.curves):
    print(f"Curve: {curve.mnemonic}, Units: {curve.unit}, Description: {curve.descr}")
print(f"Total Curves: {count+1}")

Curve: MD, Units: m, Description:
Curve: TVD, Units: m, Description:
Curve: INCL, Units: deg, Description:
Curve: AZIM, Units: deg, Description:
Curve: GR, Units: gAPI, Description:
Curve: RES, Units: ohm.m, Description:
Total Curves: 6

In [49]:
#Create a DataFrame from the .las file:
curves=LAS_File.df()
curves.reset_index(inplace=True)

In [50]:
#Print the information in the .las fie:
print(curves.head())
print(curves.tail())
print('\n', '* Columns in the las file called "example"')
print('\n', curves.columns)
print('\n', '* Number of Rows, Number of Columns')
print('\n', curves.shape, '\n')
curves.info()

       MD     TVD  INCL  AZIM   GR  RES
0  0.0000  0.0000   0.0   0.0  0.0  0.0
1  0.1524  0.1524   0.0   0.0  0.0  0.0
2  0.3048  0.3048   0.0   0.0  0.0  0.0
3  0.4572  0.4572   0.0   0.0  0.0  0.0
4  0.6096  0.6096   0.0   0.0  0.0  0.0
            MD         TVD       INCL        AZIM        GR       RES
7290  1110.996  992.708339  31.379999  350.850872  54.50663  10.42315
7291  1111.148  992.838464  31.379999  350.850872  54.50663  10.30035
7292  1111.301  992.968566  31.379999  350.850872  54.50663  10.24262
7293  1111.453  993.098689  31.379999  350.850872  54.50663  10.24392
7294  1111.606  993.228814  31.379999  350.850873  54.50663  10.23952

 * Columns in the las file called "example"

 Index(['MD', 'TVD', 'INCL', 'AZIM', 'GR', 'RES'], dtype='object')

 * Number of Rows, Number of Columns

 (7295, 6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7295 entries, 0 to 7294
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MD      7295 non-null   float64
 1   TVD     7295 non-null   float64
 2   INCL    7295 non-null   float64
 3   AZIM    7295 non-null   float64
 4   GR      7295 non-null   float64
 5   RES     7295 non-null   float64
dtypes: float64(6)
memory usage: 342.1 KB

In [52]:
print('\N{COPYRIGHT SIGN}', 'MFC')
print('Author: Marcel Ferran Castro Ponce de Leon')
print('Date: Feb, 04th, 2022')
print('Version: 1')

© MFC
Author: Marcel Ferran Castro Ponce de Leon
Date: Feb, 04th, 2022
Version: 1